services:
  samba:
    image: dperson/samba
    container_name: samba
    environment:
      TZ: "EST5EDT"
    ports:
      - "137:137/udp"
      - "138:138/udp"
      - "139:139/tcp"
      - "445:445/tcp"
    read_only: true
    tmpfs:
      - /tmp
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - /container-volumes:/container-volumes:rw
    command: >
      -s "Container Volumes;/container-volumes;yes;no;no;bob"
      -u "bob;bobspasswd"
      -p
