services:
  ddclient:
    image: lscr.io/linuxserver/ddclient:latest
    container_name: ddclient
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    volumes:
      - ddclient:/config
    restart: unless-stopped
volumes:
  ddclient:
    driver: local
    driver_opts:
      type: none
      device: /volumes/ddclient # Host path on your ZFS dataset
      o: bind
