services:
  traefik:
    image: traefik:latest
    container_name: traefik
    command:
      - "--api.insecure=true"
      - "--providers.docker=true"
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"
    ports:
      - "80:80"
      - "443:443"
      - "9080:8080" # Dashboard
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - traefik_config:/etc/traefik:ro
      - traefik_certs:/certs:ro
    restart: unless-stopped

volumes:
  # Traefik configuration directory (wrap traefik.yml in this directory)
  traefik_config:
    driver: local
    driver_opts:
      type: none
      device: /container-volumes/traefik/config
      o: bind

  # Certificates directory
  traefik_certs:
    driver: local
    driver_opts:
      type: none
      device: /container-volumes/traefik/certs
      o: bind
