services:
  nextcloud:
    image: lscr.io/linuxserver/nextcloud:latest
    container_name: nextcloud
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Berlin
    ports:
      - 443:443
    volumes:
      - nextcloud_config:/config
      - nextcloud_data:/data
    restart: unless-stopped

volumes:
  nextcloud_config:
    driver: local
    driver_opts:
      type: none
      device: /srv/container-volumes/nextcloud/config
      o: bind

  nextcloud_data:
    driver: local
    driver_opts:
      type: none
      device: /srv/container-volumes/nextcloud/data
      o: bind
